.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white; }

.App-intro {
  margin-bottom: 30px; }
  .App-intro p {
    font-size: 1.2em;
    margin: 0; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.demo {
  margin: 0 auto;
  display: inline-block; }
